@page "/index/Modificar/{tecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicosServices tecnicoServices
@inject TiposTecnicosServices tipoTecnicoServices
@inject NavigationManager navigation
<link rel="stylesheet" href="modificar.css" />

<PageTitle>Modificar t&eacute;cnicos</PageTitle>

<h3>Modificar t&eacute;cnicos</h3>
<EditForm Model="@Tecnico" OnValidSubmit="Guardar">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="Contenedor-Modificar">
		<h2>Modificar</h2>

		<div>
			<label>T&eacute;cnico Id: @Tecnico.TecnicoId</label>
		</div>

		<div class="Inputs-text">
			<label>Seleccionar Tipo de T&eacute;cnico:</label>
			<InputSelect @bind-Value="Tecnico.TipoTecnicoId">
				@foreach (var tipo in TipoTecnico)
				{
					<option value="@tipo.TipoDeTecnicosId">@tipo.Descripcion</option>
				}
			</InputSelect>
			<ValidationMessage For="@(() => Tecnico.TipoTecnicoId)" />
		</div>

		<div class="Inputs-text">
			<label>Nombre:</label>
			<input type="text" @bind-value="Tecnico.Nombres" />
			<ValidationMessage For="@(() => Tecnico.Nombres)" />
		</div>

		<div class="Inputs-text">
			<label>Sueldo Hora:</label>
			<input type="text" @bind-value="Tecnico.SueldoHora" />
			<ValidationMessage For="@(() => Tecnico.SueldoHora)" />

		</div>

		<div class="botones">
			<button type="button" @onclick="Volver" class="bi bi-arrow-left-square"> Volver</button>
			<button type="submit" class="bi bi-floppy"> Guardar</button>
		</div>
	</div>

</EditForm>



@code {

	[Parameter]
	public int TecnicoId { get; set; }
	public Tecnicos Tecnico { get; set; } = new Tecnicos();
	public List<TiposTecnicos> TipoTecnico { get; set; } = new List<TiposTecnicos>();

	protected override async Task OnInitializedAsync()
	{
		Tecnico = await tecnicoServices.Buscar(TecnicoId);
		TipoTecnico = await tipoTecnicoServices.Listar(t => true);
	}


	public async Task Guardar()
	{

		await tecnicoServices.Guardar(Tecnico);
		navigation.NavigateTo("/index");

	}
	public void Volver()
	{
	     navigation.NavigateTo("/index");
	}

}
