@page "/RegistroTrabajos/Creat"
@rendermode InteractiveServer
@inject TrabajoService WS
@inject TecnicosServices TS
@inject ClienteService CS
@inject NavigationManager navigation

<PageTitle>Crear Trabajo</PageTitle>
<h2>Crear nuevos trabajos</h2>

<EditForm Model="@Trabajo" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="Contenedor_Agregar">
        <div class="Contenedor_Secundario">
            <h3>Nuevo trabajo</h3>

            <div class="inputs-agregar">
                <label>Cual es el cliente?:</label>
                <InputSelect @bind-Value="Trabajo.ClienteId">
                    @foreach (var Cliente in Clientes)
                    {
                        <option value="@Cliente.ClienteId">@Cliente.Nombres</option>
                    }
                </InputSelect>
            </div>

            <div class="inputs-agregar">
                <label>Eliga el T&eacute;cnico para el trabajo:</label>
                <InputSelect @bind-Value="Trabajo.TecnicoId">
                    @foreach (var Tecnico in Tecnicos)
                    {
                        <option value="@Tecnico.TecnicoId">@Tecnico.Nombres</option>
                    }
                </InputSelect>
            </div>

            <div class="inputs-agregar">
                <label>Fecha del trabajo:</label>
                <InputDate @bind-Value="Trabajo.Fecha">@Trabajo.Fecha</InputDate>
            </div>

            <div class="inputs-agregar">
                <label>Descripcion:</label>
                <InputText @bind-Value="Trabajo.Descripcion" />
                <ValidationMessage For="@(() => Trabajo.Descripcion)" />
            </div>

            <div class="inputs-agregar">
                <label>Precio del Trabajo:</label>
                <InputNumber @bind-Value="Trabajo.Monto" />
                <ValidationMessage For="@(() => Trabajo.Monto)" />
            </div>

            @if (!string.IsNullOrEmpty(Mensaje))
            {
                <div class="alert alert-danger">
                    @Mensaje
                </div>
            }

            <div class="Botones_agregar">
                <button type="button" @onclick="Volver" class="btn btn-info bi bi-arrow-left-square "> Volver</button>
                <button type="submit" class="btn btn-success bi bi-floppy"> Guardar</button>
            </div>
        </div>

    </div>

</EditForm>

@code {
    public Trabajos Trabajo { get; set; } = new Trabajos();
    public List<Tecnicos> Tecnicos = new List<Tecnicos>();
    public List<Clientes> Clientes = new List<Clientes>();


    string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Tecnicos = await TS.Listar(a => true);
        Clientes = await CS.Listar(a => true);
    }
    public async Task Guardar()
    {
        Mensaje = string.Empty;
        if (string.IsNullOrWhiteSpace(Trabajo.Descripcion) || Trabajo.Monto < 0)
        {
            Mensaje = "Por favor, complete todos los campos correctamente.";
            return;
        }

        var nombreExiste = await WS.ExisteDescripcion(Trabajo.Descripcion);
        if (nombreExiste)
        {
            Mensaje = "Ya existe una descripcion con el mismo Nombres.";
            return;
        }

        await WS.Guardar(Trabajo);
        navigation.NavigateTo("/index");
    }
    public void Volver()
    {
        navigation.NavigateTo("/index");
    }
}