@page "/RegistroTrabajos/details/{TrabajoId:int}"
@rendermode InteractiveServer
@inject TrabajoService WS
@inject NavigationManager navigation
<link rel="stylesheet" href="details.css" />

<PageTitle>Detalles del trabajo</PageTitle>

@*Header*@
<h2>Details</h2>
@*Body*@
<div class="Contenedor_detalles">
	<h3>Detalles del trabajo</h3>
	<div class="list-details">
		<ul>
			<li><strong>T&eacute;cnico Id:</strong> @Trabajo.TrabajoId</li>
			<li><strong>Nombre del cliente:</strong> @Trabajo.Cliente?.Nombres</li>
			<li><strong>Nombre del t&eacute;cnico:</strong> @Trabajo.Tecnicos?.Nombres</li>
			<li><strong>Descripci&oacute;n del trabajo:</strong> @Trabajo.Descripcion</li>
			<li><strong>Hora de solicitud:</strong> @Trabajo.Fecha</li>
			<li><strong>Descripci&oacute;n del trabajo:</strong> @Trabajo.Descripcion</li>
			<li><strong>Monto:</strong> @Trabajo.Monto</li>
		</ul>
	</div>

	<div class="btn-details">
		<button type="submit" @onclick="Volver" class="btn btn-info bi bi-arrow-left-square"> Volver</button>
	</div>
</div>

@code {
	[Parameter]
	public int TrabajoId { get; set; }
	Trabajos Trabajo { get; set; } = new Trabajos();
	protected override async Task OnInitializedAsync()
	{
		Trabajo = await WS.Buscar(TrabajoId);
	}

	public void Volver()
	{
		navigation.NavigateTo("/RegistroTrabajos/index");
	}
}

