@page "/RegistroTrabajos/index"
@rendermode InteractiveServer
@inject TrabajoService WS
@inject NavigationManager navigation
<link rel="stylesheet" href="index.css" />

<PageTitle>Registro de trabajos</PageTitle>
@*Header*@
<h2>Registro de trabajos</h2>
<div class="col-md-6">
    <label class="form-label"><strong>b&uacute;squeda por id:</strong></label>
    <div class="input-group">
        <input type="number" id="valorFiltro" @bind="Id" class="form-control" placeholder="Buscar por id" />
        <button @onclick="Buscar" class="btn btn-success bi bi-search" type="button"> Buscar</button>
    </div>
</div>

@*Body*@
<div class="card-body">
    <table class="table table-light">
        <thead class="table table-striped text-center table-bordered mt-3 ">
            <tr>
                <th>Trabajo Id</th>
                <th>Fecha</th>
                <th>Client Id</th>
                <th>Cliente</th>
                <th>Tecnico Id</th>
                <th>Tecnico</th>
                <th>Descripci&oacute;n</th>
                <th>Monto</th>
                <th>Detalles</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Trabajo in Trabajo)
            {
                <tr>
                    <td class="text-center">@Trabajo.TrabajoId</td>
                    <td class="text-center">@Trabajo.Fecha?.ToString("dd/MM/yyyy")</td>
                    <td class="text-center">@Trabajo.ClienteId</td>
                    <td class="text-center">@Trabajo.Cliente?.Nombres</td>
                    <td class="text-center">@Trabajo.TecnicoId</td>
                    <td class="text-center">@Trabajo.Tecnicos?.Nombres</td>
                    <td class="text-center">@Trabajo.Descripcion</td>
                    <td class="text-center">@Trabajo.Monto $</td>
                    <td class="text-center">
                        <a href="/RegistroTrabajos/details/@Trabajo.TrabajoId" class=" bi bi-eye"></a>
                    </td>
                    <td class="text-center">
                        <a href="/RegistroTrabajos/Modificar/@Trabajo.TrabajoId" class=" bi bi-pencil-square"></a>
                    </td>
                    <td class="text-center">
                        <a href="/RegistroTrabajos/delete/@Trabajo.TrabajoId" class=" bi bi-trash"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="crear-nuevo">
        <button type="submit" @onclick="goToCreat" class="btn btn-success bi bi-floppy"> Crear nuevo </button>
    </div>
</div>

@code {
    public List<Trabajos> Trabajo = new List<Trabajos>();
    int Id { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        Trabajo = await WS.Listar(a => true);
    }

    public void goToCreat()
    {
        navigation.NavigateTo("/RegistroTrabajos/Creat");
    }
    public async void Buscar()
    {
        if (Id <= 0 || !await WS.ExisteId(Id))
        {
            return;
        }
        navigation.NavigateTo($"/RegistroTrabajos/details/{Id}");
    }
}